/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

/* Header Style  */
.header h3{
    font-size: 24px;
    margin-left: 30px;
}

/* First Section Styles */

.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.influencer{
    padding: 20px;
    margin: 4rem;
}
.section-title{
    font-size: 32px;
}
.icon{
    display: flex;
    width: 130px;
    height: 44px;
    padding: 0 20px;
    background-color: #b91e57;
    border-radius: 20px;
    align-items: baseline;
}
.icon .booked{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    width: 116px;
    margin-top: 10px;
}
.icon .right-arrow{
    width: 14px;
    color: #FFFFFF;
}
.camera:hover img{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;
}

/* Brand Logos Style  */

hr {
    margin: 20px 43px;
    border-top: 2px solid gray;
}
.brands-name{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 70px
}
.brands-name img{
    width: 100px;
}

/* Products Collection Styles */

.title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 34px;
}
.product{
    width: 300px;
    height: 450px;
    background-color: #f7efef;
    padding: 10px;
    margin-bottom: 36px;
    border-radius: 5px;
    box-shadow: 5px 3px 10px #ccc;
    overflow: hidden;
}
.product .product-image {
    border-radius: 5px;  
}
.product:hover .product-image {
    overflow: hidden;
    border-radius: 5px;   
}
.product:hover .product-image img{
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
    border-radius: 5px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.fa-star.filled{
    color: #d1a52c;
}
.fa-star.empty{
    color: #AEAEAE;
}
.more-products{
    text-align: end;
    margin-right: 52px;
    font-weight: 600;
}
.more-products a{
    text-decoration: none;
    color: #b91e57;
}
.more-products i{
    color: #b91e57;
}

/* Contact Styles */

.contact-title h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.contact-image{
    margin-left: 20px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-right: 20px;
}
.button {
    background-color: #A5194D;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
#text-field{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    outline: 0;
    border: 1px solid #b91e57;
}

/* Footer Styles */

.footer{
    text-align: center;
    color: blanchedalmond;
    background-color: #0B0825;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
.copy-right h3 {
    font-size: 2rem;
    margin: 0;
}


/* ------------------
    Responsive 
------------------*/

/* For Mobile Device  */

@media only screen and (min-width:688px) and (max-width:992px) {
    .banner, .contact {
        justify-items:center;
    }
    
    .main-section, .container, .contact{
        width: 100%;
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .products, .brands-name{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact{
        grid-template-columns: repeat(1, 1fr);
    }

}

/* For Tablet */

@media only screen and (max-width:688px) {
    .main-section, .container, .footer {
        width: 100%;
        margin: 0 auto;
    }
    .banner, .products, .contact{
        grid-template-columns: repeat(1, 1fr);
    }
    .brands-name{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-us {
        max-width: 100%;
    }
    .camera img,.contact img, .contact .contact-detail {
        margin: 0 auto;
        max-width: 80%;
    }
    .footer{
        margin-top: 50px;
    }
}