/* common styles */
body{
    font-family: 'Poppins', sans-serif
}
/* Header Style  */
.header h3{
    font-size: 24px;
    width: 245px;
    height: 53px;
    padding-top: 88px;
    padding-left: 120px;
    background-color: #FFFFFF;
}
.main-section{
    display: flex;
}
.influencer{
    width: 580px;
    height: 270px;
    padding-top: 200px;
    padding-left: 120px;
}
.icon{
    display: flex;
    width: 130px;
    height: 44px;
    padding: 0 20px;
    background-color: #c93c70;
    border-radius: 20px;
    align-items: baseline;
}
.icon .booked{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    width: 116px;
    margin-top: 10px;
}
.icon .right-arrow{
    width: 14px;
    color: #FFFFFF;
}
.camera{
    width: 440px;
    height: 415px;
    padding-top: 132px;
    padding-left: 122px;
}

.title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 34px;
}
.product{
    width: 300px;
    height: 450px;
    background-color: #f7efef;
    padding: 10px;
    /* margin: 10px; */
    margin-bottom: 36px;
    border-radius: 5px;
    box-shadow: 5px 3px 10px #ccc;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0 100px;
}
.fa-star.filled{
    color: #d1a52c;
}
.fa-star.empty{
    color: #AEAEAE;
}
.more-products{
    text-align: end;
    margin-right: 130px;
}
.more-products a{
    text-decoration: none;
    color: #c93c70;
}
.more-products i{
    color: #c93c70;
}

.extra{
    display: flex;
    margin-top: 50px;
}
.extra img{
    width: 480px;
    height: 301px;
    margin: 30px 40px;
    border-radius: 10px;
}
.extra .accessories{
    width: 608px;
    margin: 60px;
}
.link{
    display: flex;
    width: 110px;
    height: 44px;
    padding: 0 20px;
    background-color: #c93c70;
    border-radius: 20px;
}
.link a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    width: 116px;
    margin-top: 10px;
}

.footer{
    text-align: center;
    color: blanchedalmond;
    background-color: #0B0825;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
